@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Business Bears!</h1>
    <h3> Selling Bears, Training Bears, No Giraffes</h3>
    <p></p>
</div>
