@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site saves all data entered through forms, and nothing else.</p>
    
<p>Please do not sue us. It is very difficult to retain lawyers when your entire business strategy is a liability nightmare, and also the bears keep eating them.</p>
