@model IEnumerable<BusinessBears.WebUI.Models.OrderViewModel>

@{
    ViewData["Title"] = "Order Hub";
}

<h1>Index</h1>

<!-- uses GET method instead of POST -->
<!-- POST forms send the data in the request body. -->
<!-- GET forms send the data in the URL itself, as a query string -->
<!--                            query string -->
<!--                       |---------------------| -->
<!-- http://www.example.com?key=value&key2=value2 -->
<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
