@{
    ViewData["Title"] = "Order Completed";
}
<h1>@ViewData["Title"]</h1>

<p>Congratulations. If you have reached this page, you have ordered one or more bears.</p>
    
<p>The bears are coming. They can't be stopped.</p>
