@model BusinessBears.WebUI.Models.OrderViewModel

@{
    ViewData["Title"] = "Order Processing 4";
}

<h4>Customer Selected: @Model.Customer.FirstName @Model.Customer.LastName</h4>
<hr />
<h4>Select location:</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Finish">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                @*<input type="number" name="LocationID" class="form-control" />*@
                <select name="LocationID">
                    @*<option name="LocationID" class=form-control value=-1>Select Location ID</option>*@
                    <option selected name="LocationID" value="-1">Select Location ID</option>
                    @foreach (int location in ViewBag.locationArray)
                    {
                        <option class=form-control name="LocationID" value=@location>@location</option>
                    }
                </select>
                <input type="hidden" name=CustomerID value=@Model.Customer.Id />
                @for (int i = 0; i < ViewBag.trainingArray.Count; i++)
                {
                    <input type="hidden" name=TrainingArray value=@ViewBag.trainingArray[i] />
                }
                <input type="submit" value="Submit" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>
