@model BusinessBears.WebUI.Models.OrderViewModel

@{
    ViewData["Title"] = "Order Processing 2";
}

<h4>Customer Selected: @ViewBag.CustomerName</h4>
<hr />
<h4>How many bears will be required for this order?</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectT">
            
            <div class="form-group">
                <label asp-for="BearNumber" class="control-label"></label>
                <input asp-for="BearNumber" class="form-control" />
              
            </div>
            <input asp-for="CustomerID" type="hidden" value=@ViewBag.CustomerID />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
